:root {
  --colourPrimary: rgb(242, 198, 36);
  --colourSecundary: rgb(248, 3, 2);
  --textColour: black;
}

/* amarillo rgb(242, 198, 36)
rojo  rgb(248, 3, 2)*/

.contenido {
  width: 70%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.banner {
  height: 540px;
  width: 150%;
  margin-top: 10px;
  margin-left: -20vw;
  background-image: url(../image/bannerInicio3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.titulo {
  font-size: 30px;
  font-weight: 100;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* --------PROMOCIONES DE LA SEMANA--------- */

.promociones-semana {
  margin: 10vw auto;
}

.promociones-contenedor {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: auto;
  gap: 15px;
}

.promociones-contenedor::-webkit-scrollbar {
  height: 0.8vw;
}

.promociones-contenedor::-webkit-scrollbar-thumb {
  background-color: #f2c524b0;
  border-radius: 1.2vw;
}

.promociones-contenedor::-webkit-scrollbar-thumb:hover {
  background-color: #f2c524d3;
}

.card {
  min-width: 260px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid var(--colourSecundary);
  border-radius: 15px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .producto-imagen {
  width: 230px;
  margin: 10px auto;
}

.card .producto-imagen img {
  width: auto;
  height: 150px;
  transition: transform 0.4s ease;
}

.card .producto-imagen img:hover {
  transform: scale(1.1);
}

.card .producto-info p {
  font-size: 20px;
  padding: 0 20px;
  margin-bottom: 5px;
}

.card .btn {
  width: 100%;
}

.card .btn button {
  width: 100%;
  padding: 10px;
  background-color: var(--colourPrimary);
  border: 1px solid var(--colourSecundary);
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  border-radius: 0 0 15px 15px;
}

/* --------PROMOCIONES BANCARIAS--------- */
.scroll-contenedor {
  width: 100%;
  margin: auto;
  overflow-x: auto;
  white-space: nowrap;
  position: relative;
}

.imagenes {
  display: inline-block;
  margin: 1.5vw auto; /* Cambiado a vw para hacerlo reactivo */
}

.imagenes img {
  width: auto;
  height: 15vw; /* Cambiado a vw para hacerlo reactivo */
  margin-right: 1vw; /* Cambiado a vw para hacerlo reactivo */
  border-radius: 1vw; /* Cambiado a vw para hacerlo reactivo */
}

/* EDICION SCROLL PARA TARJETAS*/
.scroll-contenedor::-webkit-scrollbar {
  height: 0.8vw; /* Cambiado a vw para hacerlo reactivo */
}

.scroll-contenedor::-webkit-scrollbar-thumb {
  background-color: #f2c524b0;
  border-radius: 1.2vw; /* Cambiado a vw para hacerlo reactivo */
}

.scroll-contenedor::-webkit-scrollbar-thumb:hover {
  background-color: #f2c524d3;
}

/* --------GONDOLA VIRTUAL--------- */

.seccion-gondola {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  margin: 10vw auto;
}

.bloque-proyecto {
  border-radius: 5px;
  font-weight: bold;
  position: relative;
  width: calc(33.33% - 10px);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 1vw;
}

.bloque-proyecto img {
  width: 60%;
  height: auto;
  border-radius: 4px;
  box-sizing: border-box;
}

.efecto-imagen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 1.5s ease;
  background-color: rgba(242, 198, 36, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.texto-imagen {
  color: black;
  font-size: 2.5vw;
  text-align: center;
  background-color: rgba(242, 198, 36, 0.1);
  padding: 10px;
}

.bloque-proyecto:hover .efecto-imagen {
  opacity: 0.8;
}
